<h2>Próximos shows</h2>
<div class="row">

    {{#each events}}
    <div class="col-md-4 event-container">
        <div class="row">
            <a href="https://www.facebook.com/events/{{ id }}/" target="_blank">
                <div class="col-md-3 col-sm-3 col-xs-3"><img class="event-image" src="{{ image }}" width="90"></div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="event-name" title="{{ name }}">{{name}}</div>
                    <div class="event-time">{{dateTime start_time }}</div>
                    <div class="event-place">{{place.name}}</div>
                    <div class="event-city">{{place.location.city}} / {{place.location.state}}</div>
                </div>
            </a>
        </div>
    </div>
    {{/each}}
</div>